body {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    
    
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #d42282;
    border-color: white;
}

